body {
  background-color: #faf8ef;
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue";
}

h1 {
  font-size: 80px;
  line-height: 0.7;
  color: #776E65;
  margin: 0px;
}

.container {
  width: 468px;
  margin-top: 4rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 6px;
  margin-top: 20px;
}

.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 5px;
  background-color: #EEE4DA;
  color: #afa192;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

.score-container {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: #8f7a66;
  color: #FFFFFF;
}

#score {
  font-size: 30px;
}

.score-title {
  font-size: 20px;
}

.difficulty {
  margin-left: 20px;
}

#difficulty {
  font-size: 16px;
  padding: 5px;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  font-size: 12px;
  height: 100px;
  width: auto;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  overflow: hidden; /* Ensure rounded corners are visible */
}

th, td {
  padding: 10px 15px; /* Better spacing */
  border: 1px solid #858a92; /* Black separating lines */
  text-align: center;
  font-weight: bold; 
}

th {
  background-color: #8f7a66; 
  color: white; 
}

td {
  background-color: #f9f9f9; 
}

tr:nth-child(even) td {
  background-color: #f2f2f2; 
}

tr:hover td {
  background-color: #e0e0e0; 
}

@media (max-width: 1000px) {
  table {
    display: none;
  }
}