* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    height: 100vh;
    padding-top: 50px; /* Add space below the fixed header */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ECF9FF; /* White background for header */
    padding: 20px; /* Padding for the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for the header */
    text-align: center;
}

h1 {
    font-size: 70px;
    color: #000;
    text-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    margin: 0; /* Remove margin for h1 */
}
  
nav ul {
display: flex;
position: static;
justify-content: center;
gap: 60px; /* Space between nav items */
list-style-type: none;
}

nav ul li {
display: inline-block;
}

nav ul li a {
text-decoration: none;
font-size: 20px;
color: #000;
font-weight: bold;
transition: color 0.3s ease;
}

nav ul li a:hover {
color: #063977; /* Change color on hover */
}

/* Styles for Home icon in the top left */
nav .home-icon {
position: absolute;
top: 1rem;
left: 1rem;
font-size: 20px;
color: #000;
transition: color 0.3s ease;
}

nav .home-icon:hover {
color: #063977; /* Change color on hover */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* Space between buttons */
    margin-top: 120px; /* Add space below the fixed header */
}

.game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 8px 12px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.game-button img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.game-button:hover {
    transform: scale(1.05);
}
